/**
 * Title:
 *    Defaults
 * Description:
 *    These are the base styles for the project
 * Sections:
 *    $. Defaults
 *    $. Selections
 */



/* $. Defaults
\*----------------------------------------------------------------*/

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: $font-sans;
    line-height: 1.5;
    font-size: 100%; // 16px
    overflow-y: scroll;
    box-sizing: border-box;

    @include respond-min($bp3) {
        font-size: 112.5%; // 18px
    }
}

body {
    color: $color-text;
    background-color: $color-background;
}


/* $. Selections
\*----------------------------------------------------------------*/

::-moz-selection,
::selection {
    background: rgba(102, 102, 102, .5);
    color: #FFF;
    text-shadow: none;
}

a:link {
    -webkit-tap-highlight-color: rgba(102, 102, 102, .5);
}

:focus {
    outline: 0;
    box-shadow: 0 0 1px $color-keyline;
}
