/**
 * Title:
 *    Elements
 * Description:
 *    The styling of basic element tags
 * Sections:
 *    $. Basics
 *    $. Links
 *    $. Blockquotes
 *    $. Embedded
 */



/* $. Basics
\*----------------------------------------------------------------*/

hr {
    border: 0;
    border-top: 1px solid $color-keyline;
}

ins {
    text-decoration: none;
    color: #000;
    background: #ff9;
}

mark {
    font-style: italic;
    font-weight: bold;
}

pre {
    overflow-x: auto;
}

address {
    white-space: pre-line;
}



/* $. Links
\*----------------------------------------------------------------*/

a {
    text-decoration: none;
    color: $color-brand;

    &:hover {
        color: darken($color-brand, 10%);
    }
}



/* $. Blockquotes
\*----------------------------------------------------------------*/

blockquote {
    clear: both;
    margin-left: 0;
    margin-right: 0;
    font-family: $font-serif;
    font-style: italic;

    @include respond-min($bp2) {
        padding-left: 2em;
        padding-right: 2em;
    }

    p {
        font-size: 1.35em;
    }
}



/* $. Embedded
\*----------------------------------------------------------------*/

img {
    display: inline-block;
    margin: 0 auto;
    font-style: italic;
    color: #666;
    vertical-align: middle;

    &[width] {
        width: auto !important;
    }

    &[height] {
        height: auto !important;
    }
}

img,
audio,
canvas,
embed,
object,
video {
    max-width: 100%;
}

iframe {
    display: block;
}
