/* $. Tables
\*----------------------------------------------------------------*/

table {
    width: 100%;
}

td {
    vertical-align: top;
}

th, caption {
    text-align: left;
}

caption { padding-bottom: .5em; font-style: italic; }
th, td { padding: .25em .5em; border: 1px solid darken($color-bg, 10%) }
tr:nth-child(odd) td { background-color: #F6F6F6; }
th { font-weight: bold; background: $color-comp; }
