/**
 * Title: Typography
 * Description: Base typography styles dealing with Vertical Rhythm and Hierarchy
 * Sections:
 *    $. Vertical Rhythm
 *    $. Headings and Common Styles
 */



/* $. Vertical Rhythm
\*----------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $baseline;
    line-height: 1.2;
}

blockquote, pre, p, ul, ol, dl, hr {
    margin-top: 0;
}

p, ul, ol, dl, hr, form, table, blockquote, pre {
    margin-bottom: $baseline;
}

ul > :last-child,
ol > :last-child,
dl > :last-child,
blockquote > :last-child {
    margin-bottom: 0;
}



/* $. Headings and Common Styles
\*----------------------------------------------------------------*/

h1, .alpha {
    font-size: 2.25rem;
}

h2, .beta {
    font-size: 1.875rem;
}

h3, .gamma {
    font-size: 1.5rem;
}

h4, .delta {
    font-size: 1.25rem;
}

h5, .epsilon {
    font-size: 1rem;
}

h6, .zeta {
    font-size: 0.875rem;
}

.intro {
    font-size: 1.25em;
}

.headline {
    border-bottom: 1px solid darken($color-bg, 10%);
    padding-bottom: .45em;
}
