/**
 * Title:
 *    Extras
 * Description:
 *    Any other helpers which will be used throughout the project
 * Sections:
 *    $. Clearfix
 *    $. Visually Hidden
 */



/* $. Clearfix - http://goo.gl/5Fvrh
\*----------------------------------------------------------------*/

%cf,
.cf {
    &:after {
        content: "";
        display: table;
        clear : both;
    }
}



/* $. Visually Hidden 
\*----------------------------------------------------------------*/

.hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
