/**
 * Title:
 *    Overrides
 * Description:
 *    Global overrides to be used throughout a project. Using !important as
 *    we always want them to override existing styles.
 * Sections:
 *    $. Box Model
 *    $. Lists
 */



/* $. Box Model
\*----------------------------------------------------------------*/

.push--top { margin-top: $baseline !important; }
.push--bottom { margin-bottom: $baseline !important; }
.zero--top { margin-top: 0 !important; }
.zero--bottom { margin-bottom: 0 !important; }
.block { display: block; }



/* $. Lists
\*----------------------------------------------------------------*/

.list--unset { list-style: none !important; margin-left: 0 !important; }
.list--numbers { list-style: decimal !important; }
.list--bullets { list-style: disc !important; }
