$old-ie: true;
$mqs-up-to: 65em;
@import "styles";

/*----------------------------------------------------------------------------------------*\
 $.IE SPECIFIC STYLES
\*----------------------------------------------------------------------------------------*/

.lt-ie9 .container {
    width: 960px;
}