/**
 * Title:
 *    Main Stylesheet
 * Description:
 *    This is the main Scss file which will import all partials and
 *    compile into: assets/css/styles.css
 * Sections:
 *    $. Config
 *    $. Base
 *    $. Layout
 *    $. Modules
 *    $. Interface
 *    $. Helpers
 */



/* $. Config - Variables, global mixins & Bower components
\*----------------------------------------------------------------*/

@charset "UTF-8";
@import "config/vars";
@import "config/mixins";
@import "config/bower";



/* $. Base - Project defaults & Element styling
\*----------------------------------------------------------------*/

@import "base/defaults";
@import "base/elements";
@import "base/typography";
@import "base/lists";
@import "base/forms";
@import "base/tables";



/* $. Modules - Global objects i.e. .btn, .island, etc
\*----------------------------------------------------------------*/

@import "modules/media";
@import "modules/island";
@import "modules/nav";
@import "modules/notifications";



/* $. Interface - Project specific objects i.e. .work, .product, etc
\*----------------------------------------------------------------*/

// Include your project specific partials here!



/* $. Layout - Page based layouts i.e. .header, .page-86, etc
\*----------------------------------------------------------------*/

@import "layout/container";



/* $. Helpers - i.e. Clearfixes, accessbility hidden, etc
\*----------------------------------------------------------------*/

@import "helpers/extras";
@import "helpers/overrides";
@import "helpers/debug";
