/* $. Containers
\*----------------------------------------------------------------*/
.container {
    margin: 0 auto;
    width: 92.5%;
    min-width: 15em;
    max-width: $container-max-width;
    @include respond-min($bp1) {
        width: 85%;
    }
}