/**
 * Title:
 *    Island Module - http://goo.gl/1XYHG
 * Description:
 *    The .island module and its extensions
 * Sections:
 *    $. Setup
 *    $. Component
 *    $. Modifications
 */



/* $. Setup
\*----------------------------------------------------------------*/

%island {
    padding: $baseline*1.5;
    margin-bottom: $baseline;

    > :last-child {
        margin-bottom: 0;
    }
}



/* $. Component
\*----------------------------------------------------------------*/

.island {
    @extend %island;
}



/* $. Modifications
\*----------------------------------------------------------------*/

.island--solid {}

.island--slim {}
