/**
 * Title:
 *    Media Module - http://goo.gl/Xf6MJ
 * Description:
 *    The .media module and its extensions
 * Sections:
 *    $. Setup
 *    $. Component
 *    $. Modifications
 */



/* $. Setup
\*----------------------------------------------------------------*/

// Any setup goes here



/* $. Component
\*----------------------------------------------------------------*/

.media {
    @extend .cf;
    margin-bottom: $baseline;
}

.media__body {
    &:last-child {
        margin-bottom: 0;
    }

    @include respond-min($bp2) {
        overflow: hidden;
    }
}

.media__img {
    margin-bottom: $baseline;

    @include respond-min($bp2) {
        float: left;
        margin-bottom: 0;
        margin-right: $baseline*2;
    }
}



/* $. Modifications
\*----------------------------------------------------------------*/

.media--flipped {
    .media__img {
        @include respond-min($bp2) {
            float: right;
            margin-left: $baseline*2;
            margin-right: 0;
        }
    }
}
