/* $. Media Object - http://goo.gl/Xf6MJ
\*----------------------------------------------------------------*/

.media {
    margin-bottom: $baseline;
    @extend .cf;
}

.media__img img,
img.media__img
{
    margin-bottom: $baseline;

    @include respond-min($bp2) {
        margin-bottom: 0;
    }
}

.media__body {
    @include respond-min($bp2) {
        overflow: hidden;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.media__img {
    @include respond-min($bp2) {
        float: left;
        margin-bottom: 0;
        margin-right: $media-img-gutter;
    }
}

.media--flipped {
    .media__img {
        @include respond-min($bp2) {
            float: right;
            margin-right: 0;
            margin-left: $media-img-gutter;
        }
    }
}
