/* Tabs
----------------------------------*/

.tabs {
    position: relative;
    margin: 0;
    list-style: none;
    @extend .cf;
}

.tab__item {
    margin: 0;

    @include respond-min($bp3) {
        display: inline;
    }
}

.tab__head {
    display: block;
    padding: 1em;
    color: #222;
    border: 1px solid #ccc;

    &:visited {
        color: #222;
    }

    &:hover, &:focus {
        background: #f5f5f6;
    }

    .tab__item--current & {
        background: darken(#f5f5f6, 5%);
    }

    @include respond-min($bp3) {
        display: inline-block;
        width: 25%;
        margin: 0 -3px;
        @include box-sizing(border-box);
    }
}

.tab__content {
    display: block;
    padding: 1em;

    .tab__item--hidden & {
        display: none;
    }

    @include respond-min($bp3) {
        float: left;
        overflow: hidden;
    }
}