html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -10px;
  text-align: left;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

.grid>.grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}

.grid__cell {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  vertical-align: top;
  text-align: left;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

.grid--center {
  text-align: center;
}

.grid--left {
  text-align: left;
}

.grid--right {
  text-align: right;
}

.grid__cell--center {
  display: block;
  margin: 0 auto;
}

.grid__cell--left {
  display: block;
  margin-right: auto;
}

.grid__cell--right {
  display: block;
  margin-left: auto;
}

.unit-1-2 {
  width: 50%;
}

.unit-1-2--bp1 {
  width: 50%;
}

.unit-1-3--bp1 {
  width: 33.33333%;
}

.unit-2-3--bp1 {
  width: 66.66667%;
}

.unit-1-2--bp2,
.unit-2-4--bp2 {
  width: 50%;
}

.unit-1-3--bp2 {
  width: 33.33333%;
}

.unit-2-3--bp2 {
  width: 66.66667%;
}

.unit-1-4--bp2 {
  width: 25%;
}

.unit-3-4--bp2 {
  width: 75%;
}

.unit-1-2--bp3,
.unit-2-4--bp3,
.unit-3-6--bp3,
.unit-6-12--bp3 {
  width: 50%;
}

.unit-1-3--bp3,
.unit-2-6--bp3,
.unit-4-12--bp3 {
  width: 33.33333%;
}

.unit-2-3--bp3,
.unit-4-6--bp3,
.unit-8-12--bp3 {
  width: 66.66667%;
}

.unit-1-4--bp3,
.unit-3-12--bp3 {
  width: 25%;
}

.unit-3-4--bp3,
.unit-9-12--bp3 {
  width: 75%;
}

.unit-1-5--bp3 {
  width: 20%;
}

.unit-2-5--bp3 {
  width: 40%;
}

.unit-3-5--bp3 {
  width: 60%;
}

.unit-4-5--bp3 {
  width: 80%;
}

.unit-1-6--bp3,
.unit-2-12--bp3 {
  width: 16.66667%;
}

.unit-5-6--bp3,
.unit-10-12--bp3 {
  width: 83.33333%;
}

.unit-1-12--bp3 {
  width: 8.33333%;
}

.unit-5-12--bp3 {
  width: 41.66667%;
}

.unit-7-12--bp3 {
  width: 58.33333%;
}

.unit-11-12--bp3 {
  width: 91.66667%;
}

.grid {
  letter-spacing: -0.32em;
}

html {
  overflow-y: scroll;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: rgba(102,102,102,0.5);
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: rgba(102,102,102,0.5);
  color: #FFF;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: rgba(102,102,102,0.5);
}

hr {
  display: block;
  clear: both;
  height: 1px;
  border: 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  font-style: italic;
  font-weight: bold;
}

pre {
  overflow-x: auto;
}

address {
  white-space: pre-line;
}

img {
  display: block;
  margin: 0 auto;
  font-style: italic;
  color: #666;
  vertical-align: middle;
}

img[width] {
  width: auto !important;
}

img[height] {
  height: auto !important;
}

img,
audio,
canvas,
embed,
object,
video {
  max-width: 100%;
}

iframe {
  display: block;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
}

th,
caption {
  text-align: left;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label,
select {
  cursor: pointer;
}

legend {
  padding: .3em .6em;
  *margin-left: -7px;
}

button,
input {
  line-height: normal;
}

input,
input[type=search],
select,
textarea {
  width: 100%;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
}

input[type=file] {
  width: auto;
  border: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  vertical-align: baseline;
  background: none;
  border: none;
  height: .8em;
  width: .8em;
}

form ul,
form ol {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1em;
}

form li {
  margin-bottom: .5em;
}

form li:last-child,
fieldset:last-child {
  margin-bottom: 0;
}

form br {
  display: none;
}

textarea {
  resize: vertical;
}

html {
  font-family: Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
  line-height: 1.5;
  font-size: 100%;
  font-size: 112.5%;
}

body {
  color: #222;
  background-color: #EEE;
}

ul,
ol {
  margin-left: 2em;
  padding-left: 0;
}

li {
  margin-bottom: .5em;
}

li ul,
li ol {
  margin-top: 0.5em;
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5em;
  font-style: italic;
}

caption {
  padding-bottom: .5em;
  font-style: italic;
}

th,
td {
  padding: .25em .5em;
  border: 1px solid #CCC;
}

tr:nth-child(odd) td {
  background-color: #F6F6F6;
}

th,
legend {
  font-weight: bold;
  background: #CDCCB7;
}

label {
  display: block;
  padding-bottom: .25em;
  font-weight: bold;
}

input,
select,
textarea {
  padding: .5em;
  border: 1px solid;
  color: #666;
  background-color: #FFF;
  border-color: #666 #CCC #CCC #666;
}

button,
.btn:link,
input[type=submit] {
  display: inline-block;
  padding: .5em 1em;
  border: 0;
  color: #FFF;
  background-color: #CDCCB7;
}

a {
  text-decoration: none;
  color: #639;
}

a:hover,
a:focus {
  color: #7f40bf;
}

a:visited {
  color: #639;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .65em;
  margin-top: 1em;
  line-height: 1;
}

h1,
blockquote,
pre,
p,
ul,
ol,
dl,
hr {
  margin-top: 0;
}

p,
ul,
ol,
dl,
hr,
form,
table,
blockquote,
pre {
  margin-bottom: 1em;
}

hr {
  border-top: 1px solid #CCC;
}

blockquote>:last-child,
ul>:last-child,
ol>:last-child,
dl>:last-child {
  margin-bottom: 0;
}

h1,
.alpha {
  font-size: 40.5px;
  font-size: 2.25rem;
}

h2,
.beta {
  font-size: 33.8px;
  font-size: 1.875rem;
}

h3,
.gamma {
  font-size: 27px;
  font-size: 1.5rem;
}

h4,
.delta {
  font-size: 22.5px;
  font-size: 1.25rem;
}

h5,
.epsilon {
  font-size: 18px;
  font-size: 1rem;
}

h6,
.zeta {
  font-size: 15.8px;
  font-size: 0.875rem;
}

.intro {
  font-size: 1.25em;
}

.headline {
  border-bottom: 1px solid #CCC;
  padding-bottom: .45em;
}

blockquote {
  clear: both;
  margin-left: 0;
  margin-right: 0;
  font-family: "Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia,serif;
  font-style: italic;
  padding-left: 2em;
  padding-right: 2em;
}

blockquote p {
  font-size: 1.35em;
}

blockquote p+.source {
  margin-top: -1em;
}

.source {
  display: block;
  font-family: Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
}

.source:before {
  content: "\2013\0020";
}

.container {
  margin: 0 auto;
  width: 92.5%;
  min-width: 15em;
  max-width: 68.5em;
  width: 85%;
}

.media {
  margin-bottom: 1em;
}

.media__img img,
img.media__img {
  margin-bottom: 1em;
  margin-bottom: 0;
}

.media__body {
  overflow: hidden;
}

.media__body:last-child {
  margin-bottom: 0;
}

.media__img {
  float: left;
  margin-bottom: 0;
  margin-right: 2em;
}

.media--flipped .media__img {
  float: right;
  margin-right: 0;
  margin-left: 2em;
}

.island {
  padding: 1.5em;
  background-color: #CDCCB7;
  margin-bottom: 1em;
}

.island>:last-child {
  margin-bottom: 0;
}

.islet {
  padding: 0.75em;
}

.nav--inline li,
.nav--inline a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.nav--divided li {
  border-left: 1px solid #CCC;
}

.nav--divided li:first-child {
  border-left: none;
}

.nav--divided li:first-child a {
  padding-left: 0;
}

.nav--divided li:last-child a {
  padding-right: 0;
}

.nav--stacked li {
  display: list-item;
  margin-bottom: 0;
}

.nav--stacked a {
  display: block;
  padding: .5em 0;
}

.nav--blocked a {
  display: block;
  padding: .5em;
  background-color: #F5F5F5;
}

.flash {
  display: block;
  background-color: #F4F5F5;
  padding: .5em .8em;
}

.cf,
.media,
.nav {
  zoom: 1;
}

.cf:before,
.media:before,
.nav:before,
.cf:after,
.media:after,
.nav:after {
  content: "";
  display: table;
}

.cf:after,
.media:after,
.nav:after {
  clear: both;
}

body.debug:before {
  display: inline-block;
  color: #FFF;
  position: fixed;
  z-index: 50;
  top: 1em;
  right: 1em;
  background-color: rgba(255,255,255,0.1);
  padding: .35em;
  font-family: Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  content: "Breakpoint 0";
}

body.debug:before {
  display: inline-block;
  color: #FFF;
  position: fixed;
  z-index: 50;
  top: 1em;
  right: 1em;
  background-color: rgba(255,255,255,0.1);
  padding: .35em;
  font-family: Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  content: "Breakpoint 1";
}

body.debug:before {
  display: inline-block;
  color: #FFF;
  position: fixed;
  z-index: 50;
  top: 1em;
  right: 1em;
  background-color: rgba(255,255,255,0.1);
  padding: .35em;
  font-family: Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  content: "Breakpoint 2";
}

body.debug:before {
  display: inline-block;
  color: #FFF;
  position: fixed;
  z-index: 50;
  top: 1em;
  right: 1em;
  background-color: rgba(255,255,255,0.1);
  padding: .35em;
  font-family: Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  content: "Breakpoint 3";
}

.push--top {
  margin-top: 1em !important;
}

.push--bottom {
  margin-bottom: 1em !important;
}

.zero--top {
  margin-top: 0 !important;
}

.zero--bottom {
  margin-bottom: 0 !important;
}

.weight--light {
  font-weight: 300 !important;
}

.weight--normal {
  font-weight: 400 !important;
}

.weight--semibold {
  font-weight: 600 !important;
}

.list--unset,
.nav {
  list-style: none !important;
  margin-left: 0 !important;
}

.list--numbers {
  list-style: decimal !important;
}

.list--bullets {
  list-style: disc !important;
}

.block {
  display: block;
}

.accessibility {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.lt-ie9 .container {
  width: 960px;
}

/*# sourceMappingURL=ie.css.map */